@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Rowdies';
  list-style: none;
  
}

a {
  color: rgb(235, 235, 235);
  text-decoration: none;
}

body {
  background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

input {
   font-weight: 100;
   font-size: 1rem;
   margin: 1rem 0;
   padding: 5px;
   color: rgb(50, 50, 50);
}

textarea {
  font-size: 1rem;
  padding: 5px;
  color: rgb(50, 50, 50);
}